:root {
    --red: #e30613;
    --black: #000000;
    --light-blue: #c2d0eb;
    --gray: #878787;
    --redMedium: #9a1915;
    --redDark: #681413;
    --white: #ffffff;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--light-blue);
    width: 100%;
}

header {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
}

a {
    text-decoration: none;
    align-items: center;
}

ul {
    list-style: none;
}

main {
    max-width: 1440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-block-end: 45px;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
    font-family: 'Edu NSW ACT Foundation', cursive;
}

p {
    font-family: 'McLaren', cursive;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 5clamp(1em, 1em + 1vw, 1.5em);
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
    font-family: 'McLaren', cursive;
}

footer {
    background-color: var(--red);
    width: 100%;
    bottom: 0px;
    position: relative;
    margin-top: 50px;
}

.container-fluid {
    max-width: 1440px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 50px 10px 20px 10px;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-logo {
    align-items: center;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-items-menu {
    padding: 0;
    border-bottom: 5px solid transparent;
}

.nav-link {
    font-weight: 700;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
}

#multiple-learning {
    width: 50%
}

.nav-link {
    font-weight: 700;
    color: var(--black);
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
}

.footer-icons {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.items-social-media {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.footer-link {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#elefante {
    width: 400px;
    justify-content: flex-end;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* #videos {
    position: relative;
} */

iframe{
    padding: 20px;
}

.titulo {
    margin-bottom: 50px;
}

.texto {
    text-align: justify;
    max-width: 768px;
    padding: 20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-device-width: 768px) {
    [class="col-"] {
        width: 100%;
    }
}

.topo {
    text-align: center;
}

#interatividade {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  
  [style*="--aspect-ratio"] > img {  
    height: auto;
  }
  
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }