/* PADRÃO DE CORES DO MANUAL SENAI */
:root {
    --red: #e30613;
    --black: #000000;
    --light-blue: #c2d0eb;
    --gray: #878787;
    --redMedium: #9a1915;
    --redDark: #681413;
    --white: #ffffff;
}

/* AQUI ESTÃO SOMENTE AS TAGS COM SUAS PROPRIEDADES */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--light-blue);
    width: 100%;
}

header {
    background-color: var(--white);
    color: var(--black);
    /* min-height: 60px; */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    align-items: center;
}

ul {
    list-style: none;
}

main {
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
    font-family: 'Edu NSW ACT Foundation', cursive;
}

p {
    font-family: 'McLaren', cursive;
}

h2 {
    text-align: center;
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 4px;
    margin: 0;
    color: var(--black);
}

footer {
    background-color: var(--red);
    width: 100%;
    height: 25%;
    bottom: 0px;
    position: relative;
    margin-top: 50px;
}

/* AQUI COMEÇA OS STYLES DAS CLASSES E IDS */
.container {
    max-width: 1140px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 100px 0px 0px;
}

.navbar-menu {
    display: flex;

}

.navbar-logo {
    justify-content: center;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.navbar-items-menu {
    padding: 0px 10px 0px 10px;
    border-bottom: 5px solid transparent;
}

#multiple-learning {
    width: 80%
}

.nav-link {
    font-weight: 700;
    color: var(--black);

}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.items-social-media {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.footer-link {
    color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#elefante {
    width: 400px;
    justify-content: flex-end;
}

#video {
    align-self: left;
    float: left;
    padding-right: 10px;
}

#texto-verbo {
    text-align: right;
}

.titulo {
    margin-bottom: 0px;
}

.texto {
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    padding: 5px 0px 0px 30px;
    color: #000000;
}

.texto-paragrafo {
    text-align: justify;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.topo {
    text-align: center;
}

h2 {
    margin-top: 10px;
    font-family: 'McLaren', cursive;
}

#interatividade {
    width: 100%;
    text-align: center;
}